.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px 8px;
  width: 100px;
  // width: 100px;
  height: 100px;
  // flex-basis: 30%;
  border-radius: 20%;
  background: white;
  padding: 10px;

  &.cardicon {
    display: flex;
  }

  & .card-icon {
    width: 50px;
    flex-basis: 80%;
  }

  & .cardicon-icon {
    margin: auto;
    width: 75%;
    height: 75%;
  }

  & h4 {
    width: 100%;
    margin: 0;
    font-size: 1em;
    display: flex;
    justify-content: space-between;

    span.value {
      margin: 0;
      color: #888;
    }
  }

  & p{
    margin: 0;
    color: #888;
  }
}
