@import 'constants/constants.scss';

header {
  height: 100px;
  border-radius: 0% 0% 150% 150%/0% 0% 30% 30%;
  // background: linear-gradient(45deg, #FF4E50 30%, #f9d423 90%);
  // background: linear-gradient(200deg, #FF512F 30%, #F09819 90%);
  // background: linear-gradient(200deg, $pastel-red 30%, $pastel-orange 90%);
  background: $bg1;
  color: white;

  & p {
    margin: 0;
  }
}

.user-icon {
  float: right;
}
