@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700&display=swap');
* {
  box-sizing: border-box;
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

html, body, #app, #content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overscroll-behavior-y: contain;
}

body {
  // overscroll-behavior: contain;
  margin: 0;
  background: #F5F5F5;
  overflow: hidden;
}

a {
  text-decoration: none;
}

@media only screen and (orientation: landscape) {
  #app, #app > div {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1050px) {
  body {
    background: #F5F5F5;
  }

  /* The device with borders */
  #app {
    box-sizing: content-box;
    position: relative;
    width: 1024px;
    height: 600px;
    margin: auto;
    border: 16px white solid;
    padding: 1px;
    background: #f5f5f5;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

    /* The horizontal line on the top of the device */
    &:before {
      content: '';
      display: block;
      width: 60px;
      height: 5px;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #ccc;
      border-radius: 10px;
    }

    /* The circle on the bottom of the device */
    &:after {
      content: '';
      display: block;
      width: 35px;
      height: 35px;
      position: absolute;
      left: 50%;
      bottom: -65px;
      transform: translate(-50%, -50%);
      background: #ccc;
      border-radius: 50%;
    }

    /* The screen (or content) of the device */
    & #content {
      overflow: hidden;
      width: 1024px;
      height: 600px;
      background: #F5F5F5;
    }
  }
}
