.nav {
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px !important;
  background: white;

  header {
    padding: 16px;
    font-weight: bold;

    .sidebar-icon {
      height: 1.8em;
    }
  }

  hr {
    border-top: 1px solid #999;
    width: fill-available;
  }

  nav {
    height: 100%;
    display: flex;
    flex-direction: column;

    p {
      width: fit-content;
      margin: 10px;
    }

    p:first-child {
      margin-top: 12px;
    }

    .sidebar-icon {
      margin-right: 16px;
      height: 1.5em;
    }

    hr {
      margin-top: auto;
    }

    .bottom-links {
      // margin-top: auto;
    }
  }
}

@media only screen and (orientation: portrait) {
  .nav {
    display: none;
  }
}
